@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNova-Regular.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNovaA-Light.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNovaA-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNova-Bold.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNovaT-Thin.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNovaT-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNova-Extrabld.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNova-Extrabld.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNovaA-Bold.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNovaA-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNovaA-Thin.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNovaA-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('/fonts/proxima/ProximaNova-Black.woff2') format('woff2'),
		url('/fonts/proxima/ProximaNova-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
