<header>
	<div class="container-fluid navbar-container">
		<div class="logo">
			<a href="#home"
				><img src="images/general/logo.png" alt="" /><span>Global</span>
			</a>
		</div>

		<button class="hire"><a href="#hire">Hire us </a></button>

		<div class="hamburger hamburger--3dx">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</div>

		<ul id="navMenu">
			<li data-menu-anchor="home"><a class="link" href="#home">Home</a></li>
			<li data-menu-anchor="works"><a class="link" href="#works">Works</a></li>
			<li data-menu-anchor="about"><a class="link" href="#about">About</a></li>
			<li data-menu-anchor="#contact">
				<a class="link" href="#contact">Contact</a>
			</li>
			<li data-menu-anchor="hire"><a class="link" href="#hire">Hire us</a></li>
		</ul>
	</div>
</header>
<div class="wrapper">
	<div class="wrap">
		<div id="fullPage">
			<div class="section container" id="homeSection">
				<div class="caption-wrapper">
					<div class="home-caption">
						<h1>Your next interactive experience</h1>
						<a href="#hire"
							>H<span>ire us <i class="fa-solid fa-arrow-right"></i></span
						></a>
					</div>
					<img src="/images/home/astronaut.png" alt="" />
				</div>

				<div class="home-wrapper">
					<div class="home-content active move-content">
						<h4>METIEW & SMITH</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
						</p>
					</div>
					<div class="home-content">
						<h4>FANTASY INTERACTIVE</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
						</p>
					</div>

					<div class="home-content">
						<h4>PAUL & SHARK</h4>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
						</p>
					</div>
				</div>
			</div>

			<div class="section container" id="worksSection">
				<div class="works-content">
					<h3>Selected work</h3>
				</div>

				<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="slide-container">
								<div class="slide-img">
									<img src="images/works/work1.jpg" alt="" />
								</div>
								<div class="text">
									<h4>VICTORY</h4>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-container">
								<div class="slide-img">
									<img class="kiss-img" src="images/works/work2.jpg" alt="" />
								</div>
								<div class="text">
									<h4>METIEW & SMITH</h4>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit, sed
										do
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-container">
								<div class="slide-img">
									<img src="images/works/work3.jpg" alt="" />
								</div>
								<div class="text">
									<h4>ALEX NOVAK</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="prev-button">
						<i class="fa-solid fa-arrow-left"></i>
					</div>
					<div class="next-button">
						<i class="fa-solid fa-arrow-right"></i>
					</div>
				</div>
			</div>
			<div class="section container" id="aboutSection">
				<div class="caption-wrapper">
					<div class="about-caption">
						<h2>We believe in passionate people</h2>
						<a href="#">Career <i class="fa-solid fa-arrow-right"></i></a>
						<img
							class="shape-triangle"
							src="images/about/shape-triangle.png"
							alt=""
						/>
						<img
							class="shape-round"
							src="images/about/shape-dot-round.png"
							alt=""
						/>
						<img
							class="shape-squar"
							src="images/about/shape-dot-squar.png"
							alt=""
						/>
						<img
							class="shape-rhomb"
							src="images/about/shape-rhomb.png"
							alt=""
						/>
					</div>

					<img
						class="background-img"
						src="/images/about/background.png"
						alt="Background"
					/>
				</div>
				<div class="about-wrapper">
					<div class="about-content">
						<img src="images/about/winners.jpg" alt="" />
						<p>Winners</p>
					</div>
					<div class="about-content">
						<img src="images/about/philosophy.jpg" alt="" />
						<p>Philosophy</p>
					</div>
					<div class="about-content">
						<img src="images/about/history.jpg" alt="" />
						<p>History</p>
					</div>
				</div>
			</div>
			<div class="section container-fluid" id="contactSection">
				<div class="gradient-wrapper">
					<div class="gradient"></div>
					<div id="map"></div>
					<div class="contact">
						<div class="contact-info">
							<p>Pawia 5,31-154 Krakow, Poland</p>
							<p>ouremail@gmail.com</p>
							<p c>+48 12 628 75 60</p>
						</div>
						<div class="contact-buttons">
							<button class="behance-button"></button>
							<button class="dribbble-button"></button>
							<button class="contact-button">CONTACT US</button>
						</div>
					</div>
				</div>
			</div>
			<div class="section container" id="hireSection">
				<div class="hire-wrapper">
					<h3>You want us to do</h3>
					<div class="hire-us">
						<div class="design-buttons1">
							<button class="design-button">
								<i class="fa-solid fa-check hide"></i> App Design
							</button>
							<button class="design-button">
								<i class="fa-solid fa-check hide"></i> Graphic Design
							</button>
							<button class="design-button">
								<i class="fa-solid fa-check hide"></i> Motion Design
							</button>
						</div>
						<div class="design-buttons2">
							<button class="design-button">
								<i class="fa-solid fa-check hide"></i> UX Design
							</button>
							<button class="design-button">
								<i class="fa-solid fa-check hide"></i> Webdesign
							</button>
							<button class="marketing-button hide design-button">
								<i class="fa-solid fa-check hide"></i> Marketing
							</button>
						</div>
					</div>
					<div class="send-request">
						<input type="text" name="name" placeholder="Name" />
						<input
							type="email"
							id="emailAddress"
							name="email"
							placeholder="Email"
						/>
					</div>
					<button class="send-button" type="submit">Send Request</button>
				</div>
			</div>
		</div>
	</div>
</div>
